@charset "UTF-8";

*{
    font-family: sans-serif;
}
section{
    padding:0px;
    border: 1px solid black;
    background-color: rgba(250, 236, 218, 0.897);
    margin-bottom: 10px;
}

section > h2{
    color: aliceblue;
    text-shadow: 1px 1px black;
    background-color: rgb(147, 147, 147);
    padding:10px 10px;    background-color: grey;
    color: white;
    margin: 0px;  
}

section > p{
    padding: 5px 10px;
}

section > article{
    margin:15px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: rgba(254, 195, 195, 0.836);
}

.secundaria{
    border: none;
}

aside{
    margin:2px 15px;
    padding:5px 15px;
    border-radius: 3px;
    background-color: rgba(252, 254, 195, 0.836); 
}

b{
    color: brown;
}

section > h3{
    padding-left: 15px;
}
